/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

/* common style  or utilits*/
body{
    font-family: 'Poppins', sans-serif;
    background-color:#9F9F9F;
    margin:0%
}

main{
    display: flex;
    
    flex-direction: column;
    align-items: center;
   
   
}

.container{
    background-color: #ffffff;
    width: 870px;
     margin-top: 10px;
    height: 659px;
    padding:30px;
    margin-bottom: 21px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(42, 42, 233, 0.582);
}
hr{
    border:1px solid #D1D1D1; 
}

/* header css */

header{
    width: 100%;
    background-color: #562EFF;
    position: fixed;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black ;
    

}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
}

.nav_left{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 40px;
    height: 51px;
}
.logo_text{
    margin-top: 18px;
    margin-left: 10px;
}
.nav_button{
    display: flex;
}
.nav_button ul{
list-style-type: none;
    display: flex;

}
.nav_button>ul>li a{
    margin-left: 5px;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;

}
.nav_button>ul>li a:hover{
    border-bottom: 2px solid crimson;
}
.nav_button>ul>li img{
    width: 51px;
    height: 51px;
}

/* top player css */
.top_player{
    margin-bottom: 30px;
}
.section_title{
   
    color: #562EFF;
   
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
}
.player{
    display: flex;
  
    
}
.player img{
    width: 56px;
    height: 56px;
  
}
.player_name{
    margin-left: 16px;
    font-size: 18px;
   

}


/*----------------
 top  blog style
 ----------------*/
 .blogs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-column-gap:80px;
     grid-row-gap:26px;
    }
 .blog{
     display: flex;
 }


.blog .thumbnail_img img{
    width: 177px;
    height: 117px;
}

.blog_info{
    margin-left: 16px;
    
  

}

.blog_title{
    font-size: 20px;
    margin-top: 0;


}

.blog_author{
    color:#9F9F9F;
    font-size: 16px;
}
.blog_author a{
    text-decoration: none;
    font-size: 16px;
}


/*----------
 course css
----------- */
.courses{
   display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:24px;
    
}
.course{
    padding: 3px;
    border-radius: 16px;
    box-shadow: 2px 2px 10px blueviolet;
}
 .banner img{
    width: 224px;
    height: 104px;
}
.course_content{
    margin-top: 23px;
 
}

.course_title{

    margin-top: 0;
   
}
.course_instructor,.course_instructor a{
 padding-top: 0 ;
 text-decoration: none;
 color: red;
}
/*
rating */

.rating{
    display: flex;

    align-items: center;
    
    justify-content: space-between;
}

.fa-star{
    color: 
    #FFC014;
}
.clock_icon{
background-color: rgba(220, 20, 60, 0.562);
border-radius: 25px;
padding: 3px;
}
.star_icon span{
color: rgba(128, 128, 128, 0.815);
}


/* responsive csss */
/* mobile devives */
@media only screen and (max-width:688px) {

    .container{width: 100%;
              height: 100%;

              }
    .section_title{
       text-align: center;
    }
    .top_player ,.blogs{
        box-shadow: 3px 3px 10px black;
        border-radius: 5px;

    }
    .players ,.courses ,.blogs{
        grid-template-columns: repeat(1,1fr);
        }
    .player{
        flex-direction: column;
        align-items: center;

        
    }
    .banner>img{
        margin-left: 19%;
    }
    
    /* tablet media queay */
    @media only screen and (min-width: 688px) and (max-width: 992px){


       .players{
       border: 2px solid red;
            }
        
    }

